*{
    font-family: arial;
    box-sizing: border-box;
    transition: 600ms;
}
body{
    background-color: powderblue;
}
h1{
    font-size: 180px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    user-select: none;
}
h2{
    font-size: 40px;
    font-weight: bold;
    padding: 40px 0 0 0;
    text-align: center;
}
button,select{
    margin: 5px 8px;
    font-size: x-large;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    border: 3px solid black;
    transition: 250ms;
}
button:hover,select:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
}
select{
    background-color: orange;
}
div{
    margin-top: 18vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#startBtn{
    background-color: rgb(0, 255, 0);
    color: black;
}
#stopBtn{
    background-color: rgb(255, 0, 0);
    color: black;
}
#resetBtn{
    background-color: rgb(0, 180, 255);
    color: black;
}
.material-symbols-outlined {
    transition: 500ms;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 200,
    'opsz' 24
}
#themeContainer{
    display: flex;
    justify-content: center;
    margin: 0;
}
.theme{
    color: yellow;
    margin-top: 5vh;
    font-size: 150px !important;
    user-select: none;
    transition: 600ms;
}
.theme:hover{
    cursor: pointer;
    rotate: 360deg;
}
@media screen and (max-height: 1000px) {
    h1{padding: 10px 0;}
    div{margin-top: 10vh;}
}
@media screen and (max-height: 900px){
    h1{
        font-size: 100px;
        padding: 10px 0;
        max-height: 100px;
        margin: 20px;
    }
    h2{
        padding: 30px 0 0 0;
    }
    .theme{
        font-size: 100px !important;
    }
    button,select{
        font-size: 15px;
    }
    div{
        margin-top: 8vh;
    }    
}

